# Default ignored files
/../../O Estoque Blindado - Revisando conceitos aprendidos ate agora./.idea/shelf/
/../../O Estoque Blindado - Revisando conceitos aprendidos ate agora./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../O Estoque Blindado - Revisando conceitos aprendidos ate agora./.idea/httpRequests/
# Ignored default folder with query files
/../../O Estoque Blindado - Revisando conceitos aprendidos ate agora./.idea/queries/
# Datasource local storage ignored files
/../../O Estoque Blindado - Revisando conceitos aprendidos ate agora./.idea/dataSources/
/../../O Estoque Blindado - Revisando conceitos aprendidos ate agora./.idea/dataSources.local.xml
